
@import url('https://fonts.googleapis.com/css?family=Noting+You+Could+Do|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');

/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
        font-family: 'Roboto', sans-serif;
}
a:hover { text-decoration: none }

.food-info h3{font-family: 'Great Vibes', cursive;}

/*preloader css */

.preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    left: 0;
    top: 0;
     
    
}
.loader{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 150px;
    margin-left:-150px;
    margin-top: -75px;
 
}

.food-box-bg-1{background-image: url(../images/food-box-bg-1.jpg);}
.food-box-bg-2{background-image: url(../images/food-box-bg-2.jpg);}
.food-box-bg-3{background-image: url(../images/food-box-bg-3.jpg);}


.food-box-bg-1,.food-box-bg-2,.food-box-bg-3{
    height: 300px;
    margin-left:-15px;
    margin-right:-15px;
    background-position: center;
    background-color: #ddd;
    background-size: cover;
}

.food-info{
    background-color: #F3F4F4;
    padding: 40px;
    text-align: center;
    border-top: 3px solid #C48E35;
    margin-top: -75px;
    
}
.food-info:hover{
    background-color: #D19735;
    color: #fff;
}
.food-info:hover h2{
    color: #fff;

}
.food-info:hover h3{
    color: #FFFE00;
}
.food-info:hover .order-btn{
    color: #fff;
    border: 2px solid #fff;
}
.food-info h3{
    margin-bottom: 20px;
    font-size: 40px;
}
.food-info h2{
    text-transform: uppercase;
    font-weight: 400;
    color: #D19735;
    letter-spacing: 2px;
   
}
.food-info p span{
    font-size: 40px;
    font-weight: 700;
    
}
.order-btn{
    display: inline-block;
    color: #D19735;
    text-transform: uppercase;
    border: 2px solid #D19735;
    padding: 10px 20px;
    margin-top:30px;
}


















































































