/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,800,900');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,body {
    height: 100%;
}
a:hover { text-decoration: none }
.hero-bg{
    background-image: url("../images/hero-bg-74.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ddd;
}
.hero-area{
    height: 100%;
    display: table;
    width: 100%;
    position: relative;
    z-index: 1;
    
    
}
.hero-tablecell{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    height: 100%;
    width: 100%;
    
}
.hero-area:after{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: #393C3E;
  opacity: .6;
  z-index: -1;
}
.hero-content h1{
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 35px;
    
}
.hero-content h1 span{
    font-size: 25px;
    display: block;
    margin: 20px;
    color: #C5C2CB;
    
}
.hero-form {
    width: 300px;
    margin: 0 auto
}
.hero-form input[type=email],
.hero-form input[type=submit] {
    border: 1px solid #e3e3e3;
    color: #8d8d8d;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 20px;
    line-height: 48px !important;
    border-radius: 25px;
    font-size: 13px;
    font-style: italic
}

.hero-form input[type=submit] {
    background: #f6ad3a;
    color: #fff;
    border: 1px solid #f6ad3a;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-transform: uppercase;
    font-weight: 800;
    font-style: normal;
}

.hero-form input[type=submit]:hover {
    background: #f3a424;
}

.hero-divider {
    font-size: 25px;
    position: relative;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    margin-top: 30px;
    color: #F4A629;
       
}

.hero-divider:after,
.hero-divider:before {
    position: absolute;
    content: "";
    left: 200px;
    top: 50%;
    width: 330px;
    height: 2px;
    background: #F4A629;
    margin-top: -0.5px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.hero-divider:before {
    right: 200px;
    left: auto;
}


.single-countdown-inner {
    font-size: 60px;
    display: inline-block;
    padding: 30px;
}

.single-countdown-inner span {
    display: block;
    font-size: 18px;
    text-transform: uppercase
}




