/* Base CSS */

@import url('http://fonts.googleapis.com/css?family=Mr+De+Haviland|Roboto:300,300i,400,400i,500,500i,700,700i');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }

.section-padding{
    padding: 80px 0;
}

.section-padding.dark-bg{
    background-color: #2C2C2C;
    color: #A1A1A1;
}
.trailor-text{
    line-height: 1.8;
    padding-top: 80px;
}
.trailor-text p{
    margin-top: 40px;
}
.trailor-text h2{
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 400;
    position: relative;
    
}
.trailor-text h2:after{
    position: absolute;
    left: 0;
    bottom:-15px;
    content: "";
    height: 2px;
    width: 20px;
    background-color: #FF4F4C;
}
a.bordered-btn{
    border: 1px solid #FF4F4C;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    margin-top: 20px;
  
}
a.bordered-btn i.fa{
    margin-left: 35px;
    font-size: 10px;
  
}
.trailor-info{
    position: relative;
    text-align: right;
    
}
.colored-pricing-box{
    background: #FF4F4C;
    color: #fff;
    position: absolute;
    height: 300px;
    width: 200px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    right: 140px;
    padding-top: 50px;
}
.colored-pricing-box p{
opacity: .5;
}
.absolute-shopping-cart{
    position: absolute;
    background-color: #fff;
    left:-25px;
    top: 35px;
    font-size: 16px;
    color: #333;
    height: 50px;
    width: 50px;
    line-height: 50px;
    box-shadow: 0 0 10px #666;

}

.colored-pricing-box p.price-text{
    font-size: 40px;
    opacity: 1;
    
}
.trailor-info img{
    position: relative;
    z-index: 1;
    padding-top: 100px;
}
div .owl-carousel .owl-item .trailor-info img{
    width: auto;
    display: inline-block;
}

.featured-trailors-carousel .owl-dots div{
    border-left: 2px solid #444;
    padding: 30px 20px
    
}
.featured-trailors-carousel .owl-dots div.active{
    border-color: #FF4F4C;
}
.featured-trailors-carousel .owl-dots{
    position: absolute;
    right: -70px;
    top:30%;    
}

div .owl-carousel .owl-item .trailor-info{width: auto; display: inline-block;}

.featured-trailors-carousel .owl-dots div:nth-child(1) span:before{content: "01"}
.featured-trailors-carousel .owl-dots div:nth-child(2) span:before{content: "02"}
.featured-trailors-carousel .owl-dots div:nth-child(3) span:before{content: "03"}










































































